body{
    margin:0px;
    font-family: 'Poppins', sans-serif;
}
p{
    color: dimgray;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orenge-higliter{
    color:orange;
}
.half-width{
    width: 40%;
    float:left;
    margin-left: 5%;
    padding-left: 2%;

}
.half-width img{
    width: 100%;
}
.anchor{
    padding: 10px 30px;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    border-radius: 5px;
    color: white;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}
section{
    min-height:500px;
    margin-bottom: 100px;
    padding-bottom: 50px;
    overflow: hidden;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}

.dream-area{
    background-image: url('images/dream-bg.png');
    background-repeat: no-repeat;
    background-position: right;
}

.single-experience{
    box-shadow: 10px 20px 40px gray;
    border-radius: 5px;
    min-height: 70%;
    background-color:white;
}

.experience-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    padding-bottom: 50px;
}

#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato );
    border-image-slice:1; 
}

#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan );
    border-image-slice:1; 
}

.footer{
    text-align:center;
}

/* Responsive */


@media all and (max-width: 795px){
    section{
        margin-bottom: 0px !important;
    }
    .welcome-section{
        text-align: center;
    }
    .img{
        margin-top: 50px;
    }
    .welcome {
        margin-bottom: -39px;
    }
    .half-width{
        width: 80%;
        float:none;
        display: block;
        margin: auto;
        margin-left: 5%;
        padding-left: 2%;
    
    }
    .single-experience{
        box-shadow: 10px 20px 40px gray;
        border-radius: 5px;
        min-height: 70%;
        padding-bottom: 10px;
        background-color:white;
    }
    
}